<div class="modal demo-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-bold">{{value.requestID}}</h5>
      </div>
      <div class="modal-body">
        <form  [formGroup]="editForm" class="post-form">
          <div class="row">
            <div class="col-4">
              <h5 class="modal-title">Requester Details</h5>
              <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" formControlName="firstName">
              </div>
              <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" formControlName="lastName">
              </div>
              <div class="form-group">
                <label>Mailing Address</label>
                <input type="text" class="form-control" formControlName="mailingAddress">
              </div>
              <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" formControlName="email">
              </div>
              <div class="form-group">
                <label>Birthday</label>
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd"
                         name="dp" formControlName="birthday" ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                      <i class="mdi mdi-calendar "></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Sex</label>
                <input type="text" class="form-control" formControlName="sex">
              </div>
            </div>
            <div class="col-4">
              <h5 class="modal-title">Patient Details</h5>
              <div class="form-group">
                <label>Patient Name</label>
                <input type="text" class="form-control" formControlName="patientName">
              </div>
              <div class="form-group">
                <label>Hospital Name</label>
                <input type="text" class="form-control" formControlName="hospitalName">
              </div>
              <div class="form-group">
                <label>Diagnosis</label>
                <input type="text" class="form-control" formControlName="patientDiagnosis">
              </div>
              <div class="form-group">
                <label>Blood Type</label>
                <input type="text" class="form-control" formControlName="patientBloodType">
              </div>
              <div class="form-group">
                <label>Blood Component</label>
                <input type="text" class="form-control" formControlName="patientBloodComponent">
              </div>
              <div class="form-group">
                <label>Units</label>
                <input type="text" class="form-control" formControlName="patientBloodUnits">
              </div>
            </div>
            <div class="col-4">
              <label>Requester Photo</label>
              <img
                [src]="value.requesterPhotoUrl"
                alt="requesterPhoto"
                class="preview-image"
              />
              <label>Diagnosis Photo</label>
              <img
              [src]="value.patientDiagnosisPhotoUrl"
              alt="patientDiagnosisPhoto"
              class="preview-image"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="editRequest()" [disabled]="editForm.invalid" >Submit</button>
        <button type="button" class="btn btn-danger" (click)="deleteRequest()" >Delete</button>
        <button type="button" class="btn btn-light" (click) = "activeModal.close()" >Cancel</button>
      </div>
    </div>
  </div>
</div>

