<div class="page-header">
  <h3 class="page-title">
    Dashboard
  </h3>
</div>
<div class="row">
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-darkBlue card-img-holder text-white">
      <div class="card-body">
        <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
            <h4 class="font-weight-normal mb-3">Active Requests
            </h4>
            <h2 class="mb-5">20</h2>
        <div class="row">
          <div class="col-md-1 d-flex align-items-center">
            <div class="align-items-center">
              <div class="font-weight-bold">O+</div> <br> <div class="badge badge-pill badge-primary">2</div>
            </div>
          </div>
          <div class="col-md-1 d-flex align-items-center">
            <div class=" align-items-center">
              <div class="font-weight-bold">O-</div> <br> <div class="badge badge-pill badge-primary">70</div>
            </div>
          </div>
          <div class="col-md-1 d-flex align-items-center">
            <div class=" align-items-center">
              <div class="font-weight-bold">A+</div> <br> <div class="badge badge-pill badge-primary">43</div>
            </div>
          </div>
          <div class="col-md-1 d-flex align-items-center">
            <div class=" align-items-center">
              <div class="font-weight-bold">A-</div> <br> <div class="badge badge-pill badge-primary">742</div>
            </div>
          </div>
          <div class="col-md-1 d-flex align-items-center">
            <div class=" align-items-center">
              <div class="font-weight-bold">B+</div> <br> <div class="badge badge-pill badge-primary">43</div>
            </div>
          </div>
          <div class="col-md-1 d-flex align-items-center">
            <div class=" align-items-center">
              <div class="font-weight-bold">B-</div> <br> <div class="badge badge-pill badge-primary">85</div>
            </div>
          </div>
          <div class="col-md-1 d-flex align-items-center">
            <div class="align-items-center">
              <div class="font-weight-bold">AB+</div> <br> <div class="badge badge-pill badge-primary">15</div>
            </div>
          </div>
          <div class="col-md-1 d-flex align-items-center">
            <div class="align-items-center">
              <div class="font-weight-bold">AB-</div> <br> <div class="badge badge-pill badge-primary">63</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-darkBlue card-img-holder text-white">
      <div class="card-body">
        <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
            <h4 class="font-weight-normal mb-3">Pending Requests
            </h4>
            <h2 class="mb-5">70</h2>
        <div class="row">
          <div class="col-md-1 d-flex align-items-center">
            <div class="align-items-center">
              <div class="font-weight-bold">O+</div> <br> <div class="badge badge-pill badge-primary">2</div>
            </div>
          </div>
          <div class="col-md-1 d-flex align-items-center">
            <div class=" align-items-center">
              <div class="font-weight-bold">O-</div> <br> <div class="badge badge-pill badge-primary">70</div>
            </div>
          </div>
          <div class="col-md-1 d-flex align-items-center">
            <div class=" align-items-center">
              <div class="font-weight-bold">A+</div> <br> <div class="badge badge-pill badge-primary">43</div>
            </div>
          </div>
          <div class="col-md-1 d-flex align-items-center">
            <div class=" align-items-center">
              <div class="font-weight-bold">A-</div> <br> <div class="badge badge-pill badge-primary">742</div>
            </div>
          </div>
          <div class="col-md-1 d-flex align-items-center">
            <div class=" align-items-center">
              <div class="font-weight-bold">B+</div> <br> <div class="badge badge-pill badge-primary">43</div>
            </div>
          </div>
          <div class="col-md-1 d-flex align-items-center">
            <div class=" align-items-center">
              <div class="font-weight-bold">B-</div> <br> <div class="badge badge-pill badge-primary">85</div>
            </div>
          </div>
          <div class="col-md-1 d-flex align-items-center">
            <div class="align-items-center">
              <div class="font-weight-bold">AB+</div> <br> <div class="badge badge-pill badge-primary">15</div>
            </div>
          </div>
          <div class="col-md-1 d-flex align-items-center">
            <div class="align-items-center">
              <div class="font-weight-bold">AB-</div> <br> <div class="badge badge-pill badge-primary">63</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-darkBlue card-img-holder text-white">
      <div class="card-body">
        <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
        <h4 class="font-weight-normal mb-3">In Stock
          <i class="mdi mdi-opacity mdi-24px float-right"></i>
        </h4>
        <h2 class="mb-1">130</h2>

          <select class="mb-5">
            <option>UST Hospital</option>
          </select>

        <div class="row">
          <div class="col-md-1 d-flex align-items-center">
            <div class="align-items-center">
              <div class="font-weight-bold">O+</div> <br> <div class="badge badge-pill badge-primary">2</div>
            </div>
          </div>
          <div class="col-md-1 d-flex align-items-center">
            <div class=" align-items-center">
              <div class="font-weight-bold">O-</div> <br> <div class="badge badge-pill badge-primary">70</div>
            </div>
          </div>
          <div class="col-md-1 d-flex align-items-center">
            <div class=" align-items-center">
              <div class="font-weight-bold">A+</div> <br> <div class="badge badge-pill badge-primary">43</div>
            </div>
          </div>
          <div class="col-md-1 d-flex align-items-center">
            <div class=" align-items-center">
              <div class="font-weight-bold">A-</div> <br> <div class="badge badge-pill badge-primary">742</div>
            </div>
          </div>
          <div class="col-md-1 d-flex align-items-center">
            <div class=" align-items-center">
              <div class="font-weight-bold">B+</div> <br> <div class="badge badge-pill badge-primary">43</div>
            </div>
          </div>
          <div class="col-md-1 d-flex align-items-center">
            <div class=" align-items-center">
              <div class="font-weight-bold">B-</div> <br> <div class="badge badge-pill badge-primary">85</div>
            </div>
          </div>
          <div class="col-md-1 d-flex align-items-center">
            <div class="align-items-center">
              <div class="font-weight-bold">AB+</div> <br> <div class="badge badge-pill badge-primary">15</div>
            </div>
          </div>
          <div class="col-md-1 d-flex align-items-center">
            <div class="align-items-center">
              <div class="font-weight-bold">AB-</div> <br> <div class="badge badge-pill badge-primary">63</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 grid-margin grid-margin-md-0 stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Active Dispatches</h4>
        <table class="table table-bordered table-hover ">
          <thead>
            <tr>
              <th>Event ID</th>
              <th>Institution Name</th>
              <th>Date of Event</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let order of order$ | async; trackBy: trackByFn ">
              <td>
                {{order.dispatchID}}
              </td>
              <td>
                {{order.institutionName}}
              </td>
              <td>
                {{order.dateOrderCreated.seconds * 1000 | date:'MM-dd-yyyy'}}
              </td>
              <td>
                {{order.status}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 grid-margin grid-margin-md-0 stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Active Events</h4>
        <table class="table table-bordered table-hover ">
          <thead>
            <tr>
              <th>Dispatch ID</th>
              <th>Request ID</th>
              <th>Institution Name</th>
              <th>Patient Name</th>
              <th>Date Created</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let order of order$ | async; trackBy: trackByFn ">
              <td>
                {{order.dispatchID}}
              </td>
              <td>
                {{order.requestID}}
              </td>
              <td>
                {{order.institutionName}}
              </td>
              <td>
                {{order.patientName}}
              </td>
              <td>
                {{order.dateOrderCreated.seconds * 1000 | date:'MM-dd-yyyy'}}
              </td>
              <td>
                {{order.status}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
