<div class="row">
  <div class="col-md-6 stretch-card grid-margin">
    <div class="card bg-darkBlue text-white">
      <div class="card-body">
       
        <h4 class="font-weight-normal mb-3">In Stock
          <i class="mdi mdi-opacity mdi-24px float-right"></i>
        </h4>
        <h2 class="mb-1">{{inventoryFilteredTotal}}</h2>

        <select [(ngModel)]="selectedPartner" (change)="selectPartner()">
          <option  *ngFor="let partner of partnerData; let i = index" [value]="partner.partnerID">
            {{partner.institutionName}}
          </option>
        </select>

        <br>
        <br>

        <div class="row">
          <div class="col-md-1 d-flex align-items-center">
            <div class="align-items-center">
              <div class="font-weight-bold ">A+</div> <br> <div class="badge badge-pill badge-primary">{{inventoryFiltered[0]}}</div>
            </div>
          </div>
          <div class="col-md-1 d-flex align-items-center">
            <div class=" align-items-center">
              <div class="font-weight-bold">A-</div> <br> <div class="badge badge-pill badge-primary">{{inventoryFiltered[1]}}</div>
            </div>
          </div>
          <div class="col-md-1 d-flex align-items-center">
            <div class=" align-items-center">
              <div class="font-weight-bold">B+</div> <br> <div class="badge badge-pill badge-primary">{{inventoryFiltered[2]}}</div>
            </div>
          </div>
          <div class="col-md-1 d-flex align-items-center">
            <div class=" align-items-center">
              <div class="font-weight-bold">B-</div> <br> <div class="badge badge-pill badge-primary">{{inventoryFiltered[3]}}</div>
            </div>
          </div>
          <div class="col-md-1 d-flex align-items-center">
            <div class=" align-items-center">
              <div class="font-weight-bold">O+</div> <br> <div class="badge badge-pill badge-primary">{{inventoryFiltered[4]}}</div>
            </div>
          </div>
          <div class="col-md-1 d-flex align-items-center">
            <div class=" align-items-center">
              <div class="font-weight-bold">O-</div> <br> <div class="badge badge-pill badge-primary">{{inventoryFiltered[5]}}</div>
            </div>
          </div>
          <div class="col-md-1 d-flex align-items-center">
            <div class="align-items-center">
              <div class="font-weight-bold">AB+</div> <br> <div class="badge badge-pill badge-primary">{{inventoryFiltered[6]}}</div>
            </div>
          </div>
          <div class="col-md-1 d-flex align-items-center">
            <div class="align-items-center">
              <div class="font-weight-bold">AB-</div> <br> <div class="badge badge-pill badge-primary">{{inventoryFiltered[7]}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3 stretch-card grid-margin">
    <div class="card bg-darkBlue text-white">
      <div class="card-body">
            <h4 class="font-weight-normal mb-3">Active Requests
              <i class="mdi mdi-receipt mdi-24px float-right"></i>
            </h4>
            <h1 style="font-size: 100px; text-align:center">{{activeRequestCount}}</h1>
      </div>
    </div>
  </div>
  <div class="col-sm-3 stretch-card grid-margin">
    <div class="card bg-darkBlue text-white">
      <div class="card-body">
            <h4 class="font-weight-normal mb-3">Pending Requests
              <i class="mdi mdi-reload mdi-24px float-right"></i>
            </h4>
            <h1 style="font-size: 100px; text-align:center">{{pendingRequestCount}}</h1>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 grid-margin grid-margin-md-0 stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Active Events</h4>
        <table class="table table-bordered table-hover ">
          <thead>
            <tr>
              <th>Event ID</th>
              <th>Institution Name</th>
              <th>Date of Event</th>
              <th>Location</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr *ngIf="(event$ | async).length == 0" > No Active Events</tr> -->
            <tr  *ngFor="let event of event$ | async | paginate:{itemsPerPage: 3, currentPage:p4}; trackBy: trackByFn ">
              <td>
                {{event.eventID}}
              </td>
              <td>
                {{event.institutionName}}
              </td>
              <td>
                {{event.dateOfEvent.seconds * 1000 | date:'MM-dd-yyyy'}}
              </td>
              <td>
                {{event.location}}
              </td>
            </tr>
          </tbody>
        </table>
        <div id="pagination">
          <pagination-controls (pageChange)="p4=$event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12 grid-margin grid-margin-md-0 stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Active Dispatches</h4>
        <table class="table table-bordered table-hover ">
          <thead>
            <tr>
              <th>Dispatch ID</th>
              <th>Request ID</th>
              <th>Institution Name</th>
              <th>Patient Name</th>
              <th>Date Created</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr *ngIf="(order$ | async).length == 0" > No Active Dispatches</tr> -->
            <tr  *ngFor="let order of order$ | async | paginate:{itemsPerPage: 3, currentPage:p2}; trackBy: trackByFn ">
              <td>
                {{order.dispatchID}}
              </td>
              <td>
                {{order.requestID}}
              </td>
              <td>
                {{order.institutionName}}
              </td>
              <td>
                {{order.patientName}}
              </td>
              <td>
                {{order.dateOrderCreated.seconds * 1000 | date:'MM-dd-yyyy'}}
              </td>
              <td>
                {{order.status}}
              </td>
            </tr>
          </tbody>
        </table>
        <div id="pagination">
          <pagination-controls (pageChange)="p2=$event"></pagination-controls>
        </div>
      </div>
  </div>
</div>
