<div class="modal demo-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-bold">{{value.requestID}}</h5>
        <button type="button" class="close" (click) = "activeModal.close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  [formGroup]="editForm" class="post-form">
          <label>Requester Photo</label><span class="required">*</span>
          <img
            [src]="value.requesterPhotoUrl"
            alt="requesterPhoto"
            class="preview-image"
          />

          <div class="form-group">
            <label>First Name</label><span class="required">*</span>
            <input type="text" class="form-control" formControlName="firstName">
          </div>
          <div class="form-group">
            <label>Last Name</label><span class="required">*</span>
            <input type="text" class="form-control" formControlName="lastName">
          </div>
          <div class="form-group">
            <label>Mailing Address</label><span class="required">*</span>
            <input type="text" class="form-control" formControlName="mailingAddress">
          </div>

          <div class="form-group">
            <label>Birthday</label><span class="required">*</span>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                     name="dp" formControlName="birthday" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                  <i class="mdi mdi-calendar "></i>
                </button>
              </div>
            </div>
          </div>

          <!-- <div class="form-group">
            <label>Sex</label>
            <select class="form-control" formControlName="sex">
              <option>Select Sex</option>
              <option *ngFor="let sex of sexes">
                {{sex}}
              </option>
            </select>
          </div> -->

          <div class="form-group">
            <label>Sex</label><span class="required">*</span>
            <input type="text" class="form-control" formControlName="sex">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="editRequester()" [disabled]="editForm.invalid" >Submit</button>
        <button type="button" class="btn btn-success" (click)="activateRequester()" *ngIf="!value.isActive">Activate</button>
        <button type="button" class="btn btn-danger" (click)="deactivateRequester()" *ngIf="value.isActive">Deactivate</button>
        <button type="button" class="btn btn-danger" (click)="deleteRequester()" >Delete</button>
        <button type="button" class="btn  btn-outline-dark" (click) = "activeModal.close()" >Cancel</button>
      </div>
    </div>
  </div>
</div>

