.nav-profile-image {
  width: 200px;
  height: 200px;
  img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
  }
}

.preview-image {
  width: 100%;
  max-width: 45vw;
  max-height: 250px;
  object-fit: cover;
}
