<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Red Bank IS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
</head>
<body>
     
     
    <h3>Hello, {{username}}</h3> 
    <p>This is your claim code for your blood request at <b>{{institutionName}}:</b></p> <br><br>

    <h1>{{claimCode}}</h1>
    
</body>
</html>