<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Red Bank IS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
</head>
<body>
    <img  src="https://firebasestorage.googleapis.com/v0/b/imsrf-dev.appspot.com/o/email%20assets%2Fredbank_logo.svg?alt=media&token=7f76331d-0ece-4305-8e98-b18fca247086">
     
    <h3>Hello, {{username}}</h3> 
    <p>This is your claim code for your blood request at <b>{{institutionName}}:</b></p> <br><br>

    <h1>{{claimCode}}</h1>
    
</body>
</html>