<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Red Bank IS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
</head>
<body>
     
     
    <h3>Hello, {{username}}</h3> 
    <p>You have an upcoming Bloodletting Event with The Red Bank Foundation!</p>
    <ul> 
      <li>Date of Event: <b>{{dateOfEvent}}</b></li>
      <li>Venue: <b>{{location}}</b></li> 
    </ul>

</body>
</html>