<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Red Bank IS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
</head>
<body>
     
     
    <h3>Hi </h3> 
    <p>Please verify your email by clicking on the link bellow:</p> <br><br>

    <p>{{link}}</p>
    
</body>
</html>