<div class="modal demo-modal">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-bold">Update Event</h5>
        <button type="button" class="close" (click) = "activeModal.close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="postEventForm">
          <div class="row">
            <div class="col-7">
              <div class="form-group">
                <label>Donors Screening (Interview)</label>
                <input type="number" class="form-control" formControlName="donorsDefferScreen" >
                <control-messages [control]="postEventForm.get('donorsDefferScreen')"></control-messages>
              </div>
              <div class="form-group">
                <label>Donors w/ Low Hemoglobin</label>
                <input type="number" class="form-control" formControlName="donorsDefferLow" >
                <control-messages [control]="postEventForm.get('donorsDefferLow')"></control-messages>
              </div>
              <div class="form-group">
                <label>No. of Successful Phlebotomy </label>
                <input type="number" class="form-control" formControlName="donorsBledOk" >
                <control-messages [control]="postEventForm.get('donorsBledOk')"></control-messages>
              </div>
              <div class="form-group">
                <label>No. of Unsuccessful Phlebotomy</label>
                <input type="number" class="form-control" formControlName="donorsBledFail" >
                <control-messages [control]="postEventForm.get('donorsBledFail')"></control-messages>
              </div>
              <div class="form-group">
                <label>Remarks</label>
                <textarea type="text" class="form-control" formControlName="remarks" ></textarea>
                <control-messages [control]="postEventForm.get('remarks')"></control-messages>
              </div>
              <br>
              <div class="form-group">
                <label>Date of Expiry</label><br>
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd"
                         name="dp" formControlName="dateExpiry" ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                      <i class="mdi mdi-calendar "></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-5">
              <div class="form-group">
                <label>No. of type A+</label>
                <input type="number" class="form-control" formControlName="quantityAP" >
                <control-messages [control]="postEventForm.get('quantityAP')"></control-messages>
              </div>
              <div class="form-group">
                <label>No. of type A-</label>
                <input type="number" class="form-control" formControlName="quantityAN" >
                <control-messages [control]="postEventForm.get('quantityAN')"></control-messages>
              </div>
              <div class="form-group">
                <label>No. of type B+</label>
                <input type="number" class="form-control" formControlName="quantityBP" >
                <control-messages [control]="postEventForm.get('quantityBP')"></control-messages>
              </div>
              <div class="form-group">
                <label>No. of type B-</label>
                <input type="number" class="form-control" formControlName="quantityBN" >
                <control-messages [control]="postEventForm.get('quantityBN')"></control-messages>
              </div>
              <div class="form-group">
                <label>No. of type O+</label>
                <input type="number" class="form-control" formControlName="quantityOP" >
                <control-messages [control]="postEventForm.get('quantityOP')"></control-messages>
              </div>
              <div class="form-group">
                <label>No. of type O-</label>
                <input type="number" class="form-control" formControlName="quantityON" >
                <control-messages [control]="postEventForm.get('quantityON')"></control-messages>
              </div>
              <div class="form-group">
                <label>No. of type AB+</label>
                <input type="number" class="form-control" formControlName="quantityABP" >
                <control-messages [control]="postEventForm.get('quantityABP')"></control-messages>
              </div>
              <div class="form-group">
                <label>No. of type AB-</label>
                <input type="number" class="form-control" formControlName="quantityABN" >
                <control-messages [control]="postEventForm.get('quantityABN')"></control-messages>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)='postEvent()' [disabled]="!postEventForm.valid">Submit</button>
        <button type="button" class="btn  btn-outline-dark" (click) = "activeModal.close()">Cancel</button>
      </div>
    </div>
  </div>
</div>





