

<div class="modal demo-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-bold">Edit User</h5>
      </div>
      <div class="modal-body">
        <form  [formGroup]="editForm" class="post-form">
          <div class="nav-profile-image">
            <img src={{value.photoUrl}} alt="profile">
          </div>

            <div class="form-group">
              <label for="exampleInputName1">First Name</label>
              <input type="text" class="form-control" formControlName="firstName">
            </div>

            <div class="form-group">
              <label for="exampleInputEmail3">Last Name</label>
              <input type="text" class="form-control" formControlName="lastName">
            </div>

            <div class="form-group">
              <label >Contact Number</label>
              <input type="text" class="form-control" formControlName="contactNumber">
            </div>

            <div class="form-group" *ngIf="isPartnerUser">
              <label >Institution Name</label>
              <input type="text" class="form-control"
                    [(ngModel)]="partner"
                    [ngModelOptions]="{standalone: true}"
                    [ngbTypeahead]="search"
                    [inputFormatter]="formatter"
                    [resultFormatter]="formatter"
                    (focus)="focus$.next($any($event).target.value)"
                    (click)="click$.next($any($event).target.value)"
                    #instance="ngbTypeahead"
                    [editable]='false'
                    />
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="editUser()" [disabled]="editForm.invalid" >Edit</button>
        <button type="button" class="btn btn-warning" (click)="deleteUser()" >Delete</button>
        <button type="button" class="btn btn-light" (click) = "activeModal.close()" >Cancel</button>
      </div>
    </div>
  </div>
</div>

