<div class="modal demo-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-bold">{{value.batchID}}</h5>
        <button type="button" class="close" (click) = "activeModal.close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-justify font-weight-bold" *ngIf="!isPartner" >Institution: {{value.institutionName}}</p>
        <p class="text-justify">Event ID: {{value.eventID}}
        <p class="text-justify font-weight-bold">Blood Type: {{value.bloodType}}</p>
        <p class="text-justify font-weight-bold">Location Extraction: {{value.locationExtraction}}</p>
        <form [formGroup]="updateInventoryForm">
          <div class="form-group">
            <label>Quantity</label>
            <input type="number" class="form-control" formControlName="quantity" *ngIf="!isPartner" >
            <control-messages [control]="updateInventoryForm.get('quantity')" *ngIf="!isPartner" ></control-messages>
            <p class="text-justify" *ngIf="isPartner" >{{value.quantity}}</p>
          </div>
        </form>
        <p class="text-justify font-weight-bold">Extraction Date:  {{value.dateExtraction.seconds * 1000 | date:'MM-dd-yyyy' }}</p>
        <p class="text-justify font-weight-bold">Expiry Date:  {{value.dateExpiry.seconds * 1000 | date:'MM-dd-yyyy' }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" *ngIf="!hideEditButton" (click)='updateInventory()' [disabled]="!updateInventoryForm.valid">Edit</button>
        <button type="button" class="btn btn-light" *ngIf="!hideArchiveButton" (click)='archiveBatch()'>Archive</button>
        <button type="button" class="btn btn-warning" *ngIf="!hideRestoreButton" (click)='restoreBatch()'>Restore</button>
        <button type="button" class="btn btn-danger" *ngIf="!isStaff" (click)='manualExpire()'>Expire Override --Dev</button>
        <button type="button" class="btn btn-danger" *ngIf="!isStaff" (click)='deleteBatch()'>Delete Override --Dev</button>
        <button type="button" class="btn  btn-outline-dark" (click) = "activeModal.close()">Cancel</button>
      </div>
    </div>
  </div>
</div>
