<div class = "content-wrapper" >
    <div class="d-flex align-items-center px-0 bg-transparent" >
      <div class="row w-100 mx-0 my-5 bg-transparent ">
        <div class="col-lg-8 mx-auto auth">
            <div class="shadow-lg auth-form-light text-left py-5 px-4 px-sm-5 ">
                <div class=WordSection1>

                  <button type="button" class="btn-sm btn-warning " routerLink="{{route}}" > Go Back</button> <br><br><br>

                    <p class=MsoNormal><b><span lang=EN style='font-size:20.0pt;line-height:115%'>FREQUENTLY
                    ASKED QUESTIONS (FAQs)</span></b></p>
                    
                    <p class=MsoNormal style='text-align:justify'><span lang=EN>&nbsp;</span></p>
                    
                    <p class=MsoNormal style='text-align:justify'><span lang=EN>For all the Red
                    Bank users.</span></p>
                    
                    <div class=MsoNormal align=center style='text-align:center'><span lang=EN>
                    
                    <hr size=2 width="100%" align=center>
                    
                    </span></div>
                    
                    <p class=MsoNormal style='text-align:justify'><span lang=EN>&nbsp;</span></p>
                    
                    <p class=MsoNormal align=center style='text-align:center'><span lang=EN
                    style='font-size:14.0pt;line-height:115%'>&nbsp;</span></p>
                    
                    <p class=MsoNormal><b><span lang=EN style='font-size:13.0pt;line-height:115%'>How
                    to add new user accounts?</span></b></p>
                    
                    <p class=MsoNormal style='margin-left:.5in'><span lang=EN style='font-size:
                    12.0pt;line-height:115%'>&nbsp;</span></p>
                    
                    <p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:.5in'><span
                    lang=EN style='font-size:12.0pt;line-height:115%'>Only the <i>System
                    Administrator </i>has access to adding new accounts for all the users of the
                    internal system. The System Administrator must get the basic information of the
                    users, including the active email address and their profile photo, then create
                    a default password for them.</span></p>
                    
                    <p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:.5in'><span
                    lang=EN style='font-size:12.0pt;line-height:115%'>&nbsp;</span></p>
                    
                    <p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:.5in'><span
                    lang=EN style='font-size:12.0pt;line-height:115%'>&nbsp;</span></p>
                    
                    <p class=MsoNormal style='margin-left:.5in;text-align:justify'><b><span
                    lang=EN style='font-size:12.0pt;line-height:115%'>STEP 1:</span></b><span
                    lang=EN style='font-size:12.0pt;line-height:115%'>  As the System
                    Administrator, you must go to the <i>Accounts</i> Page and press the <i>Add
                    User</i> button and fill up all the fields in the <i>Add New User form</i>.</span></p>
                    
                    <p class=MsoNormal align=center style='text-align:center'><span lang=EN
                    style='font-size:14.0pt;line-height:115%'>&nbsp;</span></p>
                    
                    <p class=MsoNormal><b><span lang=EN style='font-size:13.0pt;line-height:115%'>&nbsp;</span></b></p>
                    
                    <p class=MsoNormal><b><span lang=EN style='font-size:13.0pt;line-height:115%'>How
                    to change default password?</span></b></p>
                    
                    <p class=MsoNormal><span lang=EN style='font-size:14.0pt;line-height:115%'>&nbsp;</span></p>
                    
                    <p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:.5in'><span
                    lang=EN style='font-size:12.0pt;line-height:115%'>On the upper left of your
                    screen, click <i>Go to your Profile</i> and select the <i>Change Password </i>button.
                    Passwords must be at least 6 alphanumeric characters long.</span></p>
                    
                    <p class=MsoNormal><span lang=EN style='font-size:14.0pt;line-height:115%'>&nbsp;</span></p>
                    
                    <p class=MsoNormal><span lang=EN style='font-size:14.0pt;line-height:115%'>&nbsp;</span></p>
                    
                    <p class=MsoNormal><b><span lang=EN style='font-size:13.0pt;line-height:115%'>How
                    to manage blood requests?</span></b></p>
                    
                    <p class=MsoNormal><span lang=EN style='font-size:14.0pt;line-height:115%'>&nbsp;</span></p>
                    
                    <p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:.5in'><span
                    lang=EN style='font-size:12.0pt;line-height:115%'>Only the users with a role of
                    <i>Dispatch &amp; Request Manager</i> and <i>System Administrator </i>have
                    access in managing the blood requests.</span></p>
                    
                    <p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:.5in'><span
                    lang=EN style='font-size:12.0pt;line-height:115%'>&nbsp;</span></p>
                    
                    <p class=MsoNormal style='margin-left:.5in;text-indent:.5in'><span lang=EN
                    style='font-size:12.0pt;line-height:115%'>&nbsp;</span></p>
                    
                    <p class=MsoNormal style='margin-left:.5in;text-align:justify'><b><span
                    lang=EN style='font-size:12.0pt;line-height:115%'>STEP 1:</span></b><span
                    lang=EN style='font-size:12.0pt;line-height:115%'> Go to the <i>Requests</i>
                    Page and you’ll see five (5) tabs, which are: For Approval, Approved, Partner
                    Request, Denied, and Archive. </span></p>
                    
                    <p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:.5in'><span
                    lang=EN style='font-size:12.0pt;line-height:115%'>&nbsp;</span></p>
                    
                    <p class=MsoNormal style='margin-left:.5in;text-align:justify'><b><span
                    lang=EN style='font-size:12.0pt;line-height:115%'>STEP 2:</span></b><span
                    lang=EN style='font-size:12.0pt;line-height:115%'> To view and validate the
                    pending new blood requests, you must go to the <i>For Approval</i> tab. </span></p>
                    
                    <p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:.5in'><span
                    lang=EN style='font-size:12.0pt;line-height:115%'>&nbsp;</span></p>
                    
                    <p class=MsoNormal style='margin-left:.5in;text-align:justify'><b><span
                    lang=EN style='font-size:12.0pt;line-height:115%'>STEP 3:</span></b><span
                    lang=EN style='font-size:12.0pt;line-height:115%'> To view and create a
                    dispatch, you must go to the <i>Approved</i> tab.</span></p>
                    
                    <p class=MsoNormal style='margin-left:.5in;text-align:justify'><span lang=EN
                    style='font-size:12.0pt;line-height:115%'>&nbsp;</span></p>
                    
                    <p class=MsoNormal style='margin-left:.5in;text-align:justify'><b><span
                    lang=EN style='font-size:12.0pt;line-height:115%'>STEP 4: </span></b><span
                    lang=EN style='font-size:12.0pt;line-height:115%'>To view the denied blood
                    requests, you must go to the <i>Denied</i> tab. </span></p>
                    
                    <p class=MsoNormal style='margin-left:.5in;text-align:justify'><span lang=EN
                    style='font-size:12.0pt;line-height:115%'>&nbsp;</span></p>
                    
                    <p class=MsoNormal style='margin-left:.5in;text-align:justify'><b><span
                    lang=EN style='font-size:12.0pt;line-height:115%'>STEP 5:</span></b><span
                    lang=EN style='font-size:12.0pt;line-height:115%'> To view the archived blood
                    requests, you can go to the Archived tab.</span></p>
                    
                    <p class=MsoNormal style='margin-left:.5in;text-align:justify'><span lang=EN
                    style='font-size:12.0pt;line-height:115%'>&nbsp;</span></p>
                    
                    <p class=MsoNormal style='margin-left:.5in;text-align:justify'><b><span
                    lang=EN style='font-size:12.0pt;line-height:115%'>STEP 6:</span></b><span
                    lang=EN style='font-size:12.0pt;line-height:115%'> To view and approve the
                    Inventory Manager’s request to use the blood bag exclusively for The Red Bank
                    Foundation, you must go to the<i> Partner Request</i> tab.</span></p>
                    
                    <p class=MsoNormal><span lang=EN style='font-size:14.0pt;line-height:115%'>&nbsp;</span></p>
                    
                    <p class=MsoNormal><b><span lang=EN style='font-size:13.0pt;line-height:115%'>&nbsp;</span></b></p>
                    
                    <p class=MsoNormal><b><span lang=EN style='font-size:13.0pt;line-height:115%'>How
                    to add and complete bloodletting events?</span></b></p>
                    
                    <p class=MsoNormal><span lang=EN style='font-size:14.0pt;line-height:115%'>&nbsp;</span></p>
                    
                    <p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:.5in'><span
                    lang=EN style='font-size:12.0pt;line-height:115%'>Only the users with a role of
                    <i>Event Manager</i> and System Administrator can add and complete the
                    bloodletting events. The Events here are the <i>Community-Based Mobile Blood
                    Donation</i> (CBMBD) or bloodletting events.</span></p>
                    
                    <p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:.5in'><span
                    lang=EN style='font-size:12.0pt;line-height:115%'>&nbsp;</span></p>
                    
                    <p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:.5in'><span
                    lang=EN style='font-size:12.0pt;line-height:115%'>&nbsp;</span></p>
                    
                    <p class=MsoNormal style='margin-left:.5in;text-align:justify'><b><span
                    lang=EN style='font-size:12.0pt;line-height:115%'>STEP 1:</span></b><span
                    lang=EN style='font-size:12.0pt;line-height:115%'> Go to the Events Page to
                    view all the active events.</span></p>
                    
                    <p class=MsoNormal style='margin-left:.5in;text-align:justify'><span lang=EN
                    style='font-size:12.0pt;line-height:115%'>&nbsp;</span></p>
                    
                    <p class=MsoNormal style='margin-left:.5in;text-align:justify'><b><span
                    lang=EN style='font-size:12.0pt;line-height:115%'>STEP 2: </span></b><span
                    lang=EN style='font-size:12.0pt;line-height:115%'>Click the <i>Add Event </i>button
                    on the upper right corner of your screen to add new events. A dialogue box will
                    appear on the screen with a <i>Add New Event form</i> for you to fill-up.</span></p>
                    
                    <p class=MsoNormal style='margin-left:.5in;text-align:justify'><span lang=EN
                    style='font-size:12.0pt;line-height:115%'>&nbsp;</span></p>
                    
                    <p class=MsoNormal style='margin-left:.5in;text-align:justify'><b><span
                    lang=EN style='font-size:12.0pt;line-height:115%'>STEP 3:</span></b><span
                    lang=EN style='font-size:12.0pt;line-height:115%'> After the bloodletting
                    event, you must complete the event. In the Active Events’ table, look for the <i>Options
                    </i>column and select the <i>Complete Event </i>button of the event that was
                    completed. A dialogue box will appear on the screen with a<i> Complete Event
                    form</i> for you to fill-up completely. It will automatically update the
                    Inventory of your collaborated partner Medical Institution during the event.</span></p>
                    
                    <p class=MsoNormal><span lang=EN style='font-size:14.0pt;line-height:115%'>&nbsp;</span></p>
                    
                    <p class=MsoNormal><b><span lang=EN style='font-size:13.0pt;line-height:115%'>&nbsp;</span></b></p>
                    
                    <p class=MsoNormal style='margin-left:.5in;text-align:justify'><span lang=EN
                    style='font-size:12.0pt;line-height:115%'>&nbsp;</span></p>
                    
                    <p class=MsoNormal><span lang=EN>&nbsp;</span></p>
                    
                    </div>
            </div>
        </div>
      </div>
    </div> 
</div>
